# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/window_measure_sheet
  /node_modules      // Node.js dependencies
  /src
    index.tsx       // React frontend entry point
    App.tsx         // React application component
    /Home           // Home page component
    /Login          // Login page component
  /public             // Public assets (e.g., images, fonts, etc.)
  .gitignore          // Files and directories to ignore in Git
  package.json        // Project dependencies and scripts
  package-lock.json   // Lock file for npm
  postcss.config.js   // PostCSS configuration
  README.md           // Project documentation
  tailwind.config.js  // Tailwind CSS configuration
  tsconfig.json       // TypeScript configuration
